@model IEnumerable<md753815MIS4200spring.Models.Visit>

@{
    ViewBag.Title = "Index";
}

<h2>Visit History</h2>


<p>
    @Html.ActionLink("Create New", "Create")

<p>
   

</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pets.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.visitDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pets.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.visitDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.visitId }) <span class="glyphicon">&#x270f;</span>|
                @Html.ActionLink("Details", "Details", new { id = item.visitId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.visitId }) <span class="glyphicon">&#xe020;</span>
            </td>
        </tr>
    }

</table>
