@model IEnumerable<md753815MIS4200spring.Models.Pets>

@{
    ViewBag.Title = "Index";
}

<h2>Pets belonging to this office</h2>

<p>
    @Html.ActionLink("Create New", "Create")

<p>



</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.petSince)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.petSince)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.petId }) <span class="glyphicon">&#x270f;</span>|
                @Html.ActionLink("Details", "Details", new { id = item.petId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.petId }) 
            </td>
        </tr>
    }


</table>
