@model md753815MIS4200spring.Models.VisitDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VisitDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Visit.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visit.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.visitDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
